/* <link rel="stylesheet" href="css/main.css"> */
html, body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
}

:root {
    /* FONTS */
    --roboto: 'Roboto', sans-serif;     /* <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> */
    /* COLORS (https://flatuicolors.com/palette/gb) */
    --blue: #0097e6;
    --green: #44bd32;
    --red: #c23616;
    --pico: #192a56;
    --black: #2f3640;
    /* BACKGROUND */
    --bc: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
}

main {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px;
    /* background: var(--bc), url(../images/automne2.jpg);
    background-size: cover;
    background-position: center; */
}

/* MENU BURGER */

.boutonBurger {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 5;
}

.span1 {
    position: absolute;
    top: 8px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border: 1px solid #000;
}

.span2 {
    position: absolute;
    top: 18px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border: 1px solid #000;
}

.span3 {
    position: absolute;
    top: 28px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border: 1px solid #000;
}

/* TITRE */

.titre {
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    grid-column: 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bc), url(../images/france.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.titre>h1 {
    text-shadow: 1px 1px 4px #000;
}

/* QUESTIONS */

.questions {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    background-color: #fff;
}

.titreQuestion {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

form {
    margin: 60px 40px 40px 40px;
}

form>p {
    font-weight: bold;
}

form>input {
    margin-right: 10px;
    margin-bottom: 15px;
}

.explications {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 50%;
    height: 100px;
    /* border: 1px solid #000; */
}

.question1 {
    grid-row-start: 2;
    grid-column-start: 2;
}

.question2 {
    grid-row-start: 3;
    grid-column-start: 2;
}

.question3 {
    grid-row-start: 4;
    grid-column-start: 2;
}

.question4 {
    grid-row-start: 5;
    grid-column-start: 2;
}

.question5 {
    grid-row-start: 6;
    grid-column-start: 2;
}

/* VALIDATION */

.validation {
    grid-column-start: 2;
    grid-row-start: 7;
    /* border: 1px solid #000; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valider {
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #ccc;
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
    transition-duration: 0.3s;
}
.valider:hover {
    padding: 32px;
    font-size: 1em;
    box-shadow: 4px 4px 4px #ccc;
}

.resultat {
    /* border: 1px solid #000; */
    width: 75%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* INSTRUCTIONS */

.instructions {
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    grid-column-start: 2;
    grid-row-start: 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}



@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .span1 {
        background-color: #fff;
        border: 1px solid #000;
    }

    .span2 {
        background-color: #fff;
        border: 1px solid #000;
    }

    .span3 {
        background-color: #fff;
        border: 1px solid #000;
    }

    .titre {
        grid-column: 1 / span 2;
    }

    .question {
        grid-column-start: 1;
        width: 90%;
    }

    form {
        margin: 60px 40px 40px 10px
    }

    .explications {
        display: none;
    }

    .validation {
        grid-column-start: 1;
    }

    .instructions {
        grid-column-start: 1;
    }
}